@import 'tailwindcss';
body {
  background: linear-gradient(
    180deg,
    #a1d4c2 0%,
    rgba(220, 237, 194, 1) 35%,
    rgba(255, 211, 181, 1) 50%,
    rgba(255, 170, 166, 1) 65%,
    rgba(255, 140, 148, 1) 100%
  );
  min-height: 100vh;
}
